.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.card {
    color: white;
    padding: 1rem;
    display: block;
    justify-content: center;
}

.cards {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}