<div class="wrapper">
    <header>
        <div class="page-header background" style="background-image: url('assets/img/pokemon-ball-house-anime-digital-art-hd-wallpaper.jpg')">
            <div class="filter"></div>
        </div>
        
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

        <div class="container">
            <div class="title-brand">
                <div class="pokemon-logo">
                    <img src="assets/img/pokemon_logo_update_2021_by_obsolete00_defoec0-pre.png" alt="">
                </div>
                <h1 class="presentation-title">Discover New World</h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>
        
            <h2 class="presentation-subtitle text-center">- Gotta Catch 'Em All -</h2>
        </div>
        
    </header>

    <section>
        
        <div>
            The Pokémon series follows young Trainers as they embark on a journey to become Pokémon Masters. Starting with a Pokémon
            partner from a local Professor, they travel across various regions, battling Gym Leaders to earn Badges, thwarting
            villainous teams with nefarious plans, and capturing diverse Pokémon to complete their Pokédex. Along the way, they
            encounter and sometimes calm or capture Legendary and Mythical Pokémon, culminating in a challenge against the Pokémon
            League's Elite Four and the reigning Champion. The series emphasizes themes of friendship, growth, and respect for
            nature, encapsulated in the quest to be the very best.
        </div>


        <div class="list-title">Discover your Pokémon</div>
        
    </section>

</div>

<app-list></app-list>
